:root {
    /* --cinza-escuro:#908f96; */
    --padrao1: Arial, Helvetica, sans-serif;
    color: #181818;
}


.area1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
font-family: var(--padrao1);
font-size: 37px;
margin-bottom: 2rem;
margin-top: 2rem;

}

div {
  margin-bottom: -8px;
}

.botao {
  background-color: var(--cinza-escuro);
  width: 65px;
  height: 65px;
  margin: 8px;
  border-width: 2px;
  border-color: #d7d9da;
  border-style: solid;
  display: flex; 
  align-items: center;
  justify-content: center; 
  font-weight: bold;
}

.linha3 .botao {
  border-width: 2px; 
  border-color: #d7d9da;
  border-style: solid; 
}

.linha1, .linha2, .linha3, .linha4, .linha5, .linha6 {
  display: flex;
}

.linha3 .botao, .linha4 .botao, .linha5 .botao, .linha6 .botao {
background-color: white
}

.linha1 .botao, .linha2 .botao{
  border-width: 2px;
  border-color: #d7d9da;
  border-style: solid;
}

.titulo {
  display: flex;
  justify-content: center;
  margin: 0;
}