:root {
    --cinza-escuro:#908f96;
    --padrao1: Arial, Helvetica, sans-serif;
}


.area1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 4% 0 0 0 ;
 font-family: var(--padrao1);
 font-size: 37px;
}

div {
   margin-bottom: -8px;
}

.botao {
  background-color: var(--cinza-escuro);
  width: 65px;
  height: 65px;
  margin: 8px;
  border-width: 2px;
  border-color: #d7d9da;
  border-style: solid;
  display: flex; 
  align-items: center;
  justify-content: center; 
  font-weight: bold;
}

.linha3 .botao {
  border-width: 2px;
  border-color: #181818;
  border-style: solid;
}

.linha1, .linha2, .linha3, .linha4, .linha5, .linha6 {
  display: flex;
}

.linha3 .botao, .linha4 .botao, .linha5 .botao, .linha6 .botao {
 background-color: white
}

.linha1 .botao, .linha2 .botao{
    border-width: 2px;
    border-color: var(--cinza-escuro);
    border-style: solid;
    color: white;
}

.a4, .b4 {
 background-color:#6aaa64;
}

.b1 {
background-color: #c9b458;
}